@page "/tokenreceiver"
@using DemoFEApp.AuthServices
@inject NavigationManager NavManager
@inject AuthService AuthService

<h3>Receiving token...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var token = queryParams["token"];
        var newUser = queryParams["newUser"];

        if (!string.IsNullOrEmpty(token))
        {
            await AuthService.SaveTokenAsync(token);
        }

        if (!string.IsNullOrEmpty(newUser) && newUser.ToLower() == "true")
        {
            NavManager.NavigateTo("/myprofile", true);
        }
        else
        {
            NavManager.NavigateTo("/", true);
        }
    }
}
